{{!-- <ul>
  {{#each catalog.movies}}
  <li>
    <p>{{catalog.movies.title}}</p>
  </li>
  {{/each}}
</ul>
<form action="/users/{{user._id}}/catalogs/{{catalog._id}}?_method=DELETE" method="POST" />
<button class="btn" type="submit">
  <i class="material-icons left">delete_forever</i>Delete This Catalog</button> --}}
  <ul>
  {{#each catalog.movies}}
  <li>
    <p>{{catalog.movies.title}}</p>
  </li>
  {{/each}}
</ul>
<form action="/users/{{user._id}}/catalogs/{{catalog._id}}?_method=DELETE" method="POST" />
<button class="btn" type="submit">
  <i class="material-icons left">delete_forever</i>Delete This Catalog</button>