<div class="row">
  {{#each catalog.movies}}
  <div class="col s4 m2">
    <img src={{this.coverImgUrl}} class="moviePoster">
  </div>
  {{/each}}
  <div class="addCatalog">
    <a href="/users/{{user._id}}/catalogs/{{catalogs._id}}/movies/new" class="btn-floating btn-large waves-effect waves-light red">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>
<form action="/users/{{userId}}/catalogs/{{catalog._id}}?_method=DELETE" method="POST" />
<button class="btn" type="submit">
  <i class="material-icons left">delete_forever</i>Delete This Catalog</button>