<h3>{{user.username}}</h3>
<img src="{{user.photoUrl}}">
<p>Favorite Movie Quote: {{user.favoriteMovieQuote}}</p>
<ul>
    {{#each user.catalog}}
    <li>
        <p>{{catalog.name}}</p>
    </li>
    {{/each}}
    <div class="btn">
        <a href="/users/{{user._id}}/edit">Update User</a>
    </div>
    <div class="btn">
        <a href="/users/{{user._id}}?_method=DELETE">Delete User</a>
    </div>
</ul>