{{!--
<h3>{{user.username}}</h3>
<img src="{{user.photoUrl}}">
<p>Favorite Movie Quote: {{user.favoriteMovieQuote}}</p>
<ul>
    {{#each user.catalog}}
    <li>
        <p>{{catalog.name}}</p>
    </li>
    {{/each}}
    <div class="row">
        <div class="btn col s2">
            <a class="editButton" href="/users/{{user._id}}/edit">
                <i class="material-icons left">edit</i>Update</a>
        </div>
        <div class="col s2">
            <form action="/users/{{user._id}}?_method=DELETE" method="POST" />
            <button class="btn" type="submit">
                <i class="material-icons left">delete_forever</i>Delete</button>
        </div>
        <div class="btn col s2">
            <a class="editButton" href="/users/{{user._id}}/catalogs">
                <i class="material-icons right">keyboard_return</i>Catalogs</a>
        </div>
    </div>
</ul> --}}


<div class="col s12 m7">
    <h2 class="header">{{user.username}}</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="{{user.photoUrl}}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>Favorite Movie Quote: {{user.favoriteMovieQuote}}</p>
            </div>
            <div class="card-action">
                <a href="/users/{{user._id}}/catalogs">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="btn col s2">
        <a class="editButton" href="/users/{{user._id}}/edit">
            <i class="material-icons left">edit</i>Update</a>
    </div>
    <div class="col s2">
        <form action="/users/{{user._id}}?_method=DELETE" method="POST" />
        <button class="btn" type="submit">
            <i class="material-icons left">delete_forever</i>Delete</button>
    </div>
</div>