<h3>{{user.username}}</h3>
<img src="{{user.photoUrl}}">
<p>Favorite Movie Quote: {{user.favoriteMovieQuote}}</p>
<ul>
    {{#each user.catalog}}
    <li>
        <p>{{catalog.name}}</p>
    </li>
    {{/each}}
    <div class="btn">
        <a class="editButton" href="/users/{{user._id}}/edit"><i class="material-icons left">edit</i>Update User</a>
    </div>
    <div>
        <form action="/users/{{user._id}}?_method=DELETE" method="POST" />
        <button class="btn" type="submit"><i class="material-icons left">delete_forever</i>Delete User</button>
    </div>
</ul>